<div class="card m-3">
    <div class="card-body">
        <form method="POST" action="/add">
            <div class="form-group">

                <label class="form-control-label">From</label>
                <input  class="form-control" type="number" name="from" id="from">

                <label class="form-control-label">To</label>
                <input class="form-control"  type="number" name="to" id="to">
            </div>

                <input class="btn btn-round bg-gradient-danger btn-sm w-100 mb-0" type="submit" value="Save Time">

        </form>
    </div>
</div>