<div class="card m-3">
    <div class="card-body">
        <form method="POST" action="/timesheets/add">
            <div class="form-group">
                {{!-- From --}}
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-control-label">From Hour</label>
                        <input required class="form-control" type="number" name="from" id="from" min="1" max="12">
                    </div>

                    <div class="col-md-2">
                        <label class="form-control-label"> From Minute</label>
                        <input required class="form-control" type="number" name="fromMin" id="fromMin" min="0" max="59">
                    </div>

                    <div class="col-md-2">
                        <label for="fromAMPM" class="form-control-label">AM/PM</label>
                        <select required class="form-select" id="fromAMPM" name="fromAMPM"
                            aria-label="Default select example">
                            <option value=""></option>
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                    <br>

                    {{!-- To --}}
                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-control-label">To Hour</label>
                            <input required class="form-control" type="number" name="to" id="to" min="1" max="12">
                        </div>

                        <div class="col-md-2">
                            <label class="form-control-label">To Minute</label>
                            <input required class="form-control" type="number" name="toMin" id="toMin" min="0" max="59">
                        </div>

                        <div class="col-md-2">
                            <label for="toAMPM" class="form-control-label">AM/PM</label>
                            <select required class="form-select" id="toAMPM" name="toAMPM"
                                aria-label="Default select example">
                                <option value=""></option>
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="p-3 text-center">
                    <input class="btn btn-round bg-gradient-danger btn-sm w-100 mb-0" type="submit" value="Save Time">
                </div>
            </div>
        </form>
    </div>
</div>