<div class="fixed-plugin ps">
    <span data-bs-toggle="modal" data-bs-target="#modal-form">
        <a href="{{pageToFlyTo}}" class="fixed-plugin-button text-dark position-fixed px-3 py-2" data-bs-toggle="tooltip"
            data-placement="left" title="" data-bs-original-title="Add">
            <i class="{{flyingIcon}}"></i>
        </a>
    </span>

</div>