<html>

<head>
	<meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
	{{!-- <link rel='icon' type='image/png' href='' /> --}}
	<link rel='stylesheet' href='/css/bootstrap.css' />
	<title>Checkin System</title>

	{{!-- cover image css --}}
	<style>
        /* Set the background image and make it cover the entire viewport */
        body {
            background-image: url('/images/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; /* Optional: This makes the background image fixed as the page scrolls */
        }
    </style>

</head>

<body onload=''>
		{{> layouts/navbar}}
		{{#if err}}
		<div class="">
			<div class="alert alert-primary text-center">
				<pre>{{err}}</pre>
			</div>
		</div>
		{{/if}}
		{{{body}}}
</body>


</html>