<div class="card m-3">
    <div class="card-body text-center">
        <h3>Timesheet of today</h3> <h5>{{dateToday}}</h5> 
    </div>
</div>

<div class="card">
    <div class="card-body">
        {{> addHours}}
        {{> addTasks}}
    </div>
</div>