<form method="POST" action="/add">

<label>From</label>
<input type="number" name="from" id="from">

<label>To</label>
<input type="number" name="to" id="to">

<br>
<br>
<input type="submit" value="Save"></button>

</form>